.app{
  width:960px;
  margin: 100 auto;
  /* margin-top: 300px; */
  display:grid;
  grid-template-areas:
  "hd hd "
  "nv nv"
  "cn cn ";
}
.app_content{
  grid-area:cn;
}

/* body{ */
/*   font-family: Roboto,Segoe UI,Arial,sans-serif; */
/*   font-size:20px; */
/*   background-image:url(../../assets/images/paper6.png); */
/*   background-size: cover; */
/*   background-repeat:no-repeat; */
/*   font-family:'A La Russ'; */
/*     } */
/* h1{ */
/*   font-size:48px; */
/*  }; */
