.search{
  margin-top:20px;
  display:grid;
  grid-template-areas:
  "search search"
  "info time"
  "example type";
}

.search h2{
  /* color:red; */
  /* margin-top:50px; */  
  text-align:center;
}
